@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    background-color: rgba(36, 43, 66, 0.867);
    font-size:18px;
    color: #fff;
    font-family:'Montserrat', sans-serif ;
}
.navbar{
    background-color: rgb(0, 0, 0);
    border-bottom: 6px solid green;
    padding:20px 10px;
    height: auto;
   }
 a{
    color:#fff;
    font-weight: 500;

 }
 a:hover{
    color:white
 }

 .navbar .navbar-brand a {
    padding:1rem 0;
    display:block;
    text-decoration: none;
 }
 .navbar-brand{
    font-size:2.2rem;
    color:white;
    font-family: 'Indie Flower', cursive;
 }
  .navbar-toggler {
    border: none;
    padding:10px 6px;
    outline:none;
 }
 .navbar-toggler span{
    display: block;
    width:22px;
    height:2px;
    border:1px;
    background: white;
 }
 .navbar-toggler span + span{
    margin-top:4px;
    width:22px;
 }
 .navbar-toggler span + span +span{
   margin-top:4px;
   width:22px;

 }
 .navbar-nav{
    justify-content: end;
 }
 .nav-item a:hover{
    background-color:green;
    border-bottom: 6px solid green;
 }

 .navbar-expand-lg .navbar-nav .nav-link{
    padding:1.4rem 1rem;
    font-size: 1.2rem;
    position:relative;
 }
#accueil{
    margin-bottom: 40px ;
    min-height: 600px;
    padding-top: 100px;
    align-items: center;
}

 .column-left{
    height: auto;
    color: #fff;
    text-align: center;
 }
 .carousel-inner {
    align-items: center;
    width: 100%;
    margin: auto;
 }

 .column-right{
    height: auto;
    margin-right: 0px;
 }

 .paragraph0{
   text-align: center;
}
h1,h2,h3,h4{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.paragraph01{
    align-items: center;
}

.paragraph1{
    text-align: justify ;
    padding-top: 30px;
    


}
.paragraph2{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: justify;
}

.paragraph3{
    text-align:center ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.paragraph4{
    padding-top: 30px;
    padding-bottom: 30px;
}
#part1{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#part2{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraph7{
    padding-top: 10px;
}
.paragraph8 {
    text-align: center;
}

.text7 {
    margin-top: 30px;
}

#missions{
    padding-top: 110px;
    border-radius: 20px;
}

#realisations{
    padding-top: 110px;
}
#contribution{
    padding-top: 110px;
    border-radius: 10px;

}
.card-body{
    color:black;
    padding-top: 20px;
    border:0vh;
}

#row1{
    background-color: #fff;
    border-radius: 10px;
}
.button1 {
    border: 1px solid white;
    background: green;
    width: 100%;
    color: white;
    padding: 18px;
    border-radius: 5px;
    transition : all 0.3s ease-in 0s;
    margin-bottom: 10px;
}

.button1:hover{
    background-color: #444;
    border-color: green;

}
.btn{
    border: 1px solid #444;
    background: green;
    color: white;
    padding: 18px;
    border-radius: 5px;
    transition : all 0.3s ease-in 0s;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #444;
    border-color: rgba(36, 43, 66, 0.867);
}
#fin{
    background-color: black;
    margin-bottom: 0;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}